.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #0b141a;
  font-family: "Segoe UI", system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 360px;
  background: #111b21;
  border-right: 1px solid #222d34;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh; 
}


.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #0b141a;
  overflow: hidden;
  height: 100vh; 
}

/* ===== MODO PARA EL CELU ===== */
@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
  }

  .chat-area {
    width: 100%;
    height: auto;
  }

  body.mobile-chat-open .sidebar {
    display: none;
  }

  body.mobile-chat-closed .chat-area {
    display: none;
  }
}